html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
}

a {
  text-decoration: none;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 0 1rem;
}

.m-0 {
  margin: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.p-0 {
  padding: 0;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.m0p0 {
  padding: 0;
  margin: 0;
}

.b-0 {
  border: 0;
}
.b-none {
  border: none;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

.gap {
  gap: 0.2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  height: 100%;
}

.position {
  position: fixed;
}

.sticky {
  position: sticky;
  z-index: 1;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 1px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.airport-section-content::-webkit-scrollbar:horizontal {
  display: none;
}

body {
  background-color: $color-primary;
  z-index: -999;
}


